In [1]:
# ปรับแต่งค่าการทำงานของ Spark
from pyspark.sql import SparkSession

spark = SparkSession.\
        builder.\
        appName("ChiSqSelector:Gender vs. Route").\
        master("spark://spark-master:7077").\
        config("spark.executor.memory", "1000m").\
        config("spark.executor.cores", "2").\
        config("spark.cores.max", "6").\
        getOrCreate()

23/06/25 01:28:15 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [2]:
from pyspark.sql import functions as sparkf
from pyspark.sql.types import *

## 1. Business Understaing
    
    1.1 Problem Statement: ต้องการทราบว่า ลูกหนี้แต่ละรายจะมาจ่ายหนี้ครบตามสัญญาเงินกู้ (Fully-paid) หรือไม่มาจ่ายฯ (Charged-off)
    1.2 Project Objective: การจัดเก็บหนี้ดีขึ้นช่วยเพิ่มรายได้ให้กับกิจการ
    1.3 Task of Data Science: Binary Classification
    1.4 Cleansing Policy: ธุรกิจมี columns ที่แนะนำว่ามีความสัมพันธ์/ส่งผลต่อการชำระหนี้คืนตามสัญญา, ลบได้ทั้ง row หากมี missing ใน columns และแทนที่ได้ตามความเหมาะสม
    1.5 Success Criteria: มี Recall/Sensitivity ไม่น้อยกว่า 0.65 บน Testing set แบบ Hold-out

## 2. Data Understanding
    
    - มี Label เป็น column: loan_status
    - มีขนาดใหญ่ (volume)เกินกว่าเทคโนโลยีปัจจุบัน (Python) จะทำงานได้อย่างมีประสิทธิภาพ จึงต้องใช้ Spark ร่วมด้วย
    - CSV เป็น semi-structural data ที่มี header ซึ่งสามารถนำไปพัฒนาเป็น schema ของ structural data (Spark DataFrame) ได้
    - Data Dict.: https://docs.google.com/spreadsheets/d/1qtZBSJ-JS7S2tGC0W9Yxp992LmrDaAwGcJB419Htbbw/edit#gid=1163295822

In [3]:
#กำหนด columns ที่ธุรกิจให้คำแนะนำฯ ไว้

businessAttrs_df = ["loan_amnt","term","int_rate"\
                                ,"installment","grade","emp_length",\
                           "home_ownership","annual_inc"\
                                ,"verification_status","loan_status",\
                           "purpose","addr_state","dti","delinq_2yrs"\
                                ,"earliest_cr_line",\
                           "open_acc","pub_rec"\
                                ,"revol_bal","revol_util","total_acc","issue_d",'acc_now_delinq']

In [4]:
#! apt-get install wget -y

In [5]:
#! wget https://storage.googleapis.com/ntclass/LoanStats_web.csv

In [6]:
# Spark อ่านข้อมูลจาก .csv แล้ว convert เป็น DataFrame

raw_df = spark.read.option('header',True)\
.option("quote", "\"")\
.option('mode','DROPMALFORMED')\
.option('inferSchema',True)\
.csv('LoanStats_web.csv')\
.select(businessAttrs_df)

### 2.1 Univariate Analysis

### 2.2 Bivariate/Multivariate Analysis

# 3. Data Preparation

#### 3.1 Cleansing and Transformation - Batch 1

In [7]:
#### ใหม่ ณ 16 JAN 2023
# ใช้ Spark ปรับแต่งค่าใน column: annual_inc, loan_status, revol_util, int_rate และ issue_d
# ใช้ Spark สร้าง column ใหม่ขึ้นมา คือ calculatedDTI

crunched_df = raw_df\
.filter(sparkf.col('annual_inc') != 0)\
.filter((sparkf.col('loan_status') == 'Fully Paid')|(sparkf.col('loan_status') == 'Charged Off'))\
.withColumn('calculatedDTI',sparkf.col('loan_amnt')/sparkf.col('annual_inc'))\
.withColumn('revol_util',sparkf.when(sparkf.col('revol_util').isNotNull(),sparkf.regexp_replace(sparkf.col('revol_util'),'%',''))\
                  .otherwise(sparkf.col('revol_util')))\
.filter(sparkf.col('revol_util') < 120)\
.withColumn('int_rate',sparkf.when(sparkf.col('int_rate').isNotNull(),sparkf.regexp_replace(sparkf.col('int_rate'),'%',''))\
                  .otherwise(sparkf.col('int_rate')))\
.withColumn('issue_d',sparkf.regexp_extract(sparkf.col('issue_d'),'\d+',0))\
.withColumn('revol_util',sparkf.col('revol_util').cast(IntegerType()))\
.withColumn('int_rate',sparkf.col('int_rate').cast(FloatType()))\
.withColumn('issue_d',sparkf.col('issue_d').cast(IntegerType()))\
.withColumn('delinq_2yrs',sparkf.col('delinq_2yrs').cast(FloatType()))\
.dropna()

In [8]:
crunched_df.describe().toPandas().transpose()

,0,1,2,3,4
summary,count,mean,stddev,min,max
loan_amnt,698342,14499.922351798976,9223.066319877242,1000,40000
term,698342,None,None,36 months,60 months
int_rate,698342,13.231893765288989,5.174107541702221,5.31,30.99
installment,698342,446.6912345097157,282.599606452106,30.12,1715.42
grade,698342,None,None,A,G
emp_length,698342,None,None,1 year,n/a
home_ownership,698342,None,None,ANY,RENT
annual_inc,698342,79530.96412655976,78144.23143077888,23.0,9573072.0
verification_status,698342,None,None,Not Verified,Verified
loan_status,698342,None,None,Charged Off,Fully Paid
purpose,698342,None,None,car,wedding
addr_state,698342,None,None,AK,WY
dti,698342,18.692250845574076,13.593891477773948,-1,999
delinq_2yrs,698342,0.3281586958825332,0.9012859773439462,0.0,29.0
earliest_cr_line,698342,None,None,Apr-1955,Sep-2015
open_acc,698342,11.77128255210198,5.769888628784486,1,86
pub_rec,698342,0.25011527303241105,0.6682581018804887,0,61
revol_bal,698342,16101.565339045912,22716.564383991285,0,1113293
revol_util,698342,47.399188363294776,24.664061604919468,0,119
total_acc,698342,24.458484524774395,12.174564403700815,2,176
issue_d,698342,2016.6668680961477,0.7761254749136149,2016,2019
acc_now_delinq,698342,0.005482986845986637,0.07852420118848297,0,4
calculatedDTI,698342,0.21698781428656444,1.8167938285879743,1.7142857142857143E-4,1200.0

In [9]:
from pyspark.ml.feature import VectorAssembler, ChiSqSelector, StringIndexer

#### 3.2 Cleansing and Transformation - Batch 2

In [10]:
# Spark สร้าง ABT

final_df = crunched_df\
.withColumn('term',sparkf.when(sparkf.col('term').isNotNull(),sparkf.regexp_replace(sparkf.col('term'),' months','')).otherwise(sparkf.col('term')))\
.withColumn('term',sparkf.col('term').cast(IntegerType()))\
.filter(sparkf.col('loan_amnt') < 40000.0)\
.filter(sparkf.col('annual_inc')<150000)\
.withColumn('is_debtConsolidation', sparkf.when(sparkf.col('purpose')=='debt_consolidation',1).otherwise(0))

# Spark สร้าง ABT - sensivity: 0.6932773109243697

final_df = crunched_df\
.withColumn('term',sparkf.when(sparkf.col('term').isNotNull(),sparkf.regexp_replace(sparkf.col('term'),' months','')).otherwise(sparkf.col('term')))\
.withColumn('term',sparkf.col('term').cast(IntegerType()))\
.filter(sparkf.col('loan_amnt') < 40000.0)\
.filter(sparkf.col('annual_inc')<150000)\
.filter(((sparkf.col('int_rate')<22)&(sparkf.col('loan_status')=='Fully Paid'))\
        |((sparkf.col('loan_status')=='Charged Off')&(sparkf.col('int_rate')<28)))\
.withColumn('is_debtConsolidation', sparkf.when(sparkf.col('purpose')=='debt_consolidation',1).otherwise(0))

# 4. Modeling & 5. Model Evaluation

In [11]:
# Spark ทำ Hold-out Tesing set

candidate_training_df = final_df.filter(sparkf.col('issue_d') < 2019)
testing_df = final_df.filter(sparkf.col('issue_d') >= 2019)

In [12]:
candidate_training_df.groupBy('loan_status').count().show()

23/06/25 01:29:33 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-----------+------+
|loan_status| count|
+-----------+------+
| Fully Paid|496842|
|Charged Off|136929|
+-----------+------+

In [13]:
# Spark ทำการสุ่มเลือกข้อมูลเฉพาะจาก training set เพื่อลดจำนวน Fully Paid

FullyPaid_training_df = candidate_training_df.filter(sparkf.col('loan_status') == 'Fully Paid').sample(0.30)

ChargedOff_training_df = candidate_training_df.filter(sparkf.col('loan_status') == 'Charged Off')

FullyPaid_training_num = FullyPaid_training_df.count()

ChargedOff_training_num = ChargedOff_training_df.count()

training_df = FullyPaid_training_df.union(ChargedOff_training_df)

In [14]:
# Spark ทำสรุปจำนวน row ของแต่ละ class ที่มีความ Balance Class มากขึ้น
training_df.groupBy('loan_status').count().show()

+-----------+------+
|loan_status| count|
+-----------+------+
| Fully Paid|148912|
|Charged Off|136929|
+-----------+------+

In [15]:
training_df.describe().toPandas().transpose()

,0,1,2,3,4
summary,count,mean,stddev,min,max
loan_amnt,285841,14053.542353966017,8518.871212984808,1000,39950
term,285841,41.938938080961094,10.356828842402134,36,60
int_rate,285841,14.23937620134024,5.420794231674159,5.31,30.99
installment,285841,434.8197931017676,264.0998346573607,30.12,1568.25
grade,285841,None,None,A,G
emp_length,285841,None,None,1 year,n/a
home_ownership,285841,None,None,ANY,RENT
annual_inc,285841,66944.31270653964,28941.090154936493,25.0,149999.0
verification_status,285841,None,None,Not Verified,Verified
loan_status,285841,None,None,Charged Off,Fully Paid
purpose,285841,None,None,car,wedding
addr_state,285841,None,None,AK,WY
dti,285841,19.620282044913097,13.770238267661089,-1,999
delinq_2yrs,285841,0.33460910086376694,0.9168733309282215,0.0,21.0
earliest_cr_line,285841,None,None,Apr-1960,Sep-2015
open_acc,285841,11.653317753576289,5.704457743519045,1,74
pub_rec,285841,0.2636710618840544,0.670402106779527,0,61
revol_bal,285841,14083.11197483916,15528.703545296195,0,587934
revol_util,285841,48.449861986209115,24.28629945523923,0,119
total_acc,285841,23.801396580616498,11.973679690318844,2,176
issue_d,285841,2016.630021585427,0.7276570561573434,2016,2018
acc_now_delinq,285841,0.005258168002490895,0.07632349759842778,0,4
calculatedDTI,285841,0.23618918910041906,2.557002067386773,0.006711409395973154,1200.0
is_debtConsolidation,285841,0.5799482929320846,0.4935677488564265,0,1

In [16]:
testing_df.describe().toPandas().transpose()

,0,1,2,3,4
summary,count,mean,stddev,min,max
loan_amnt,7297,13130.851719884884,8659.574284347007,1000,38975
term,7297,41.99917774427847,10.392542207483649,36,60
int_rate,7297,13.77566806228092,5.285655556117107,6.46,30.84
installment,7297,395.88434013978144,253.33174201210824,30.64,1471.12
grade,7297,None,None,A,G
emp_length,7297,None,None,1 year,n/a
home_ownership,7297,None,None,ANY,RENT
annual_inc,7297,70260.51902699741,30057.182564052007,250.0,149925.0
verification_status,7297,None,None,Not Verified,Verified
loan_status,7297,None,None,Charged Off,Fully Paid
purpose,7297,None,None,car,vacation
addr_state,7297,None,None,AK,WY
dti,7297,19.951480060298724,30.412739425816028,0,999
delinq_2yrs,7297,0.21748663834452514,0.7554488384386131,0.0,16.0
earliest_cr_line,7297,None,None,Apr-1970,Sep-2015
open_acc,7297,11.485542003563108,5.904423388775289,1,63
pub_rec,7297,0.13813896121693847,0.35601733844079464,0,4
revol_bal,7297,12804.496505413183,14588.05192820673,0,241296
revol_util,7297,36.864464848567906,25.251468158352832,0,104
total_acc,7297,24.682061121008633,13.046845325371981,2,142
issue_d,7297,2019.0,5.236397009685313E-14,2019,2019
acc_now_delinq,7297,0.0,0.0,0,0
calculatedDTI,7297,0.24226166127434953,1.3226988193199407,0.006896551724137931,91.14285714285714
is_debtConsolidation,7297,0.5377552418802247,0.4986066703185269,0,1

#### Feature Transformation (Encoding)

In [17]:
numeric_candidateFeatures_list = ['int_rate','term','loan_amnt','annual_inc']
#numeric_candidateFeatures_list = ['int_rate','installment','loan_amnt','annual_inc','revol_util','delinq_2yrs','is_debtConsolidation','term']

#numeric_candidateFeatures_list = ['loan_amnt','int_rate','calculatedDTI']
numeric_candidateFeatures_list = ['int_rate','installment','pub_rec','loan_amnt','annual_inc']

In [18]:
cat_candidateFeatures_list = ['grade','home_ownership','verification_status','addr_state']
#cat_candidateFeatures_list = []

In [19]:
from pyspark.ml.feature import *
from pyspark.ml.pipeline import Pipeline
from pyspark.ml.classification import *

In [20]:
label_Indexer = StringIndexer(inputCol='loan_status',outputCol='label')

In [21]:
cat_Indexer = StringIndexer(inputCols=cat_candidateFeatures_list,outputCols=['grade_index','home_ownership_index'\
                                                                             ,'verification_status_index','addr_state_index'])
cat_OneHot  = OneHotEncoder(inputCols=['grade_index','home_ownership_index'\
                                                                             ,'verification_status_index','addr_state_index']\
                            ,outputCols=['grade_binarized','home_ownership_binarized'\
                                         ,'verification_status_binarized','addr_state_binarized'])

In [22]:
#feature_list = numeric_candidateFeatures_list+['grade_binarized','home_ownership_binarized','verification_status_binarized','addr_state_binarized','cat_delinq_2yrs_binarized']
feature_list = numeric_candidateFeatures_list

In [23]:
feature_list

['int_rate', 'term', 'loan_amnt', 'annual_inc']

In [24]:
feature_Assembler = VectorAssembler(inputCols=feature_list,outputCol='features')

In [25]:
def ExtractFeatureImp(featureImp, dataset, featuresCol):
    list_extract = []
    for i in dataset.schema[featuresCol].metadata["ml_attr"]["attrs"]:
        list_extract = list_extract + dataset.schema[featuresCol].metadata["ml_attr"]["attrs"][i]
    varlist = pd.DataFrame(list_extract)
    varlist['score'] = varlist['idx'].apply(lambda x: featureImp[x])
    return(varlist.sort_values('score', ascending = False))

#### Algorithm: Decision Tree Classifier

In [26]:
algo = DecisionTreeClassifier(featuresCol='features',labelCol='label')

In [27]:
pipeline_transformation = Pipeline().setStages([cat_Indexer,cat_OneHot,feature_Assembler,label_Indexer,algo])

In [28]:
model = pipeline_transformation.fit(training_df)

In [29]:
result_df = model.transform(testing_df)

In [30]:
result_df.select('loan_status','label','prediction').filter(sparkf.col('label') == 1)\
.groupBy('loan_status','label','prediction').count().show()

+-----------+-----+----------+-----+
|loan_status|label|prediction|count|
+-----------+-----+----------+-----+
|Charged Off|  1.0|       1.0|  283|
|Charged Off|  1.0|       0.0|  196|
+-----------+-----+----------+-----+

In [31]:
TP = result_df.select('loan_status','label','prediction')\
.filter((sparkf.col('label') == 1)&(sparkf.col('prediction') == 1))\
.groupBy('loan_status','label','prediction').count().take(1)[0]['count']

In [32]:
ALL_POSITIVE = result_df.select('loan_status','label','prediction').filter((sparkf.col('label') == 1)).count()

In [33]:
ALL_NEGATIVE = result_df.select('loan_status','label','prediction').filter((sparkf.col('label') == 0)).count()

In [34]:
ALL_POSITIVE+ALL_NEGATIVE

7297

In [35]:
result_df.count()

7297

In [36]:
SENSITIVITY = TP/ALL_POSITIVE

In [37]:
SENSITIVITY

0.5908141962421712

In [38]:
TN = result_df.select('loan_status','label','prediction')\
.filter((sparkf.col('label') == 0)&(sparkf.col('prediction') == 0))\
.groupBy('loan_status','label','prediction').count().take(1)[0]['count']

In [39]:
SPECIFICITY = TN/ALL_NEGATIVE

In [40]:
SPECIFICITY

0.5890290407744206

In [41]:
import pandas as pd

In [42]:
featureImportances = model.stages[4].featureImportances.toArray()

In [43]:
ExtractFeatureImp(featureImportances, result_df, "features").head(30)

   idx        name     score
0    0    int_rate  0.934267
1    1        term  0.045894
2    2   loan_amnt  0.014612
3    3  annual_inc  0.005228