In [1]:
# ปรับแต่งค่าการทำงานของ Spark
from pyspark.sql import SparkSession

spark = SparkSession.\
        builder.\
        appName("ChiSqSelector:Gender vs. Route").\
        master("spark://spark-master:7077").\
        config("spark.executor.memory", "1000m").\
        config("spark.executor.cores", "2").\
        config("spark.cores.max", "6").\
        getOrCreate()

23/12/05 14:57:06 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [2]:
from pyspark.sql import functions as sparkf
from pyspark.sql.types import *

## 1. Business Understaing
    
    1.1 Problem Statement: ต้องการทราบว่า ลูกหนี้แต่ละรายจะมาจ่ายหนี้ครบตามสัญญาเงินกู้ (Fully-paid) หรือไม่มาจ่ายฯ (Charged-off)
    1.2 Project Objective: การจัดเก็บหนี้ดีขึ้นช่วยเพิ่มรายได้ให้กับกิจการ
    1.3 Task of Data Science: Binary Classification
    1.4 Cleansing Policy: ธุรกิจมี columns ที่แนะนำว่ามีความสัมพันธ์/ส่งผลต่อการชำระหนี้คืนตามสัญญา, ลบได้ทั้ง row หากมี missing ใน columns และแทนที่ได้ตามความเหมาะสม
    1.5 Success Criteria: มี Recall/Sensitivity ไม่น้อยกว่า 0.65 บน Testing set แบบ Hold-out

## 2. Data Understanding
    
    - มี Label เป็น column: loan_status
    - มีขนาดใหญ่ (volume)เกินกว่าเทคโนโลยีปัจจุบัน (Python) จะทำงานได้อย่างมีประสิทธิภาพ จึงต้องใช้ Spark ร่วมด้วย
    - CSV เป็น semi-structural data ที่มี header ซึ่งสามารถนำไปพัฒนาเป็น schema ของ structural data (Spark DataFrame) ได้
    - Data Dict.: https://docs.google.com/spreadsheets/d/1qtZBSJ-JS7S2tGC0W9Yxp992LmrDaAwGcJB419Htbbw/edit#gid=1163295822

In [3]:
#กำหนด columns ที่ธุรกิจให้คำแนะนำฯ ไว้

businessAttrs_df = ["loan_amnt","term","int_rate"\
                                ,"installment","grade","emp_length",\
                           "home_ownership","annual_inc"\
                                ,"verification_status","loan_status",\
                           "purpose","addr_state","dti","delinq_2yrs"\
                                ,"earliest_cr_line",\
                           "open_acc","pub_rec"\
                                ,"revol_bal","revol_util","total_acc","issue_d",'acc_now_delinq']

In [4]:
#! apt-get install wget -y

In [5]:
#! wget https://storage.googleapis.com/ntclass/LoanStats_web.csv

In [6]:
# Spark อ่านข้อมูลจาก .csv แล้ว convert เป็น DataFrame

raw_df = spark.read.option('header',True)\
.option("quote", "\"")\
.option('mode','DROPMALFORMED')\
.option('inferSchema',True)\
.csv('LoanStats_web.csv')\
.select(businessAttrs_df)

### 2.1 Univariate Analysis

### 2.2 Bivariate/Multivariate Analysis

# 3. Data Preparation

#### 3.1 Cleansing and Transformation - Batch 1

In [7]:
#### ใหม่ ณ 16 JAN 2023
# ใช้ Spark ปรับแต่งค่าใน column: annual_inc, loan_status, revol_util, int_rate และ issue_d
# ใช้ Spark สร้าง column ใหม่ขึ้นมา คือ calculatedDTI

crunched_df = raw_df\
.filter(sparkf.col('annual_inc') != 0)\
.filter((sparkf.col('loan_status') == 'Fully Paid')|(sparkf.col('loan_status') == 'Charged Off'))\
.withColumn('calculatedDTI',sparkf.col('loan_amnt')/sparkf.col('annual_inc'))\
.withColumn('revol_util',sparkf.when(sparkf.col('revol_util').isNotNull(),sparkf.regexp_replace(sparkf.col('revol_util'),'%',''))\
                  .otherwise(sparkf.col('revol_util')))\
.filter(sparkf.col('revol_util') < 120)\
.withColumn('int_rate',sparkf.when(sparkf.col('int_rate').isNotNull(),sparkf.regexp_replace(sparkf.col('int_rate'),'%',''))\
                  .otherwise(sparkf.col('int_rate')))\
.withColumn('issue_d',sparkf.regexp_extract(sparkf.col('issue_d'),'\d+',0))\
.withColumn('revol_util',sparkf.col('revol_util').cast(IntegerType()))\
.withColumn('int_rate',sparkf.col('int_rate').cast(FloatType()))\
.withColumn('issue_d',sparkf.col('issue_d').cast(IntegerType()))\
.withColumn('delinq_2yrs',sparkf.col('delinq_2yrs').cast(FloatType()))\
.dropna()

In [8]:
crunched_df.describe().toPandas().transpose()

,0,1,2,3,4
summary,count,mean,stddev,min,max
loan_amnt,698342,14499.922351798976,9223.066319877244,1000,40000
term,698342,None,None,36 months,60 months
int_rate,698342,13.231893765288989,5.174107541702221,5.31,30.99
installment,698342,446.6912345097157,282.599606452106,30.12,1715.42
grade,698342,None,None,A,G
emp_length,698342,None,None,1 year,n/a
home_ownership,698342,None,None,ANY,RENT
annual_inc,698342,79530.96412655976,78144.23143077888,23.0,9573072.0
verification_status,698342,None,None,Not Verified,Verified
loan_status,698342,None,None,Charged Off,Fully Paid
purpose,698342,None,None,car,wedding
addr_state,698342,None,None,AK,WY
dti,698342,18.692250845574076,13.593891477773948,-1,999
delinq_2yrs,698342,0.3281586958825332,0.9012859773439462,0.0,29.0
earliest_cr_line,698342,None,None,Apr-1955,Sep-2015
open_acc,698342,11.77128255210198,5.769888628784486,1,86
pub_rec,698342,0.25011527303241105,0.6682581018804886,0,61
revol_bal,698342,16101.565339045912,22716.564383991285,0,1113293
revol_util,698342,47.399188363294776,24.664061604919468,0,119
total_acc,698342,24.458484524774395,12.174564403700815,2,176
issue_d,698342,2016.6668680961477,0.7761254749136229,2016,2019
acc_now_delinq,698342,0.005482986845986637,0.07852420118848297,0,4
calculatedDTI,698342,0.21698781428656444,1.8167938285879743,1.7142857142857143E-4,1200.0

In [9]:
from pyspark.ml.feature import VectorAssembler, ChiSqSelector, StringIndexer

#### 3.2 Cleansing and Transformation - Batch 2

# Spark สร้าง ABT - sensivity: 0.5908141962421712

final_df = crunched_df\
.withColumn('term',sparkf.when(sparkf.col('term').isNotNull(),sparkf.regexp_replace(sparkf.col('term'),' months','')).otherwise(sparkf.col('term')))\
.withColumn('term',sparkf.col('term').cast(IntegerType()))\
.filter(sparkf.col('loan_amnt') < 40000.0)\
.filter(sparkf.col('annual_inc')<150000)\
.withColumn('is_debtConsolidation', sparkf.when(sparkf.col('purpose')=='debt_consolidation',1).otherwise(0))

In [10]:
# Spark สร้าง ABT - sensivity: 0.6932773109243697

final_df = crunched_df\
.withColumn('term',sparkf.when(sparkf.col('term').isNotNull(),sparkf.regexp_replace(sparkf.col('term'),' months','')).otherwise(sparkf.col('term')))\
.withColumn('term',sparkf.col('term').cast(IntegerType()))\
.filter(sparkf.col('loan_amnt') < 40000.0)\
.filter(sparkf.col('annual_inc')<150000)\
.filter(((sparkf.col('int_rate')<22)&(sparkf.col('loan_status')=='Fully Paid'))\
        |((sparkf.col('loan_status')=='Charged Off')&(sparkf.col('int_rate')<28)))\
.withColumn('is_debtConsolidation', sparkf.when(sparkf.col('purpose')=='debt_consolidation',1).otherwise(0))

# 4. Modeling & 5. Model Evaluation

In [11]:
# Spark ทำ Hold-out Tesing set

candidate_training_df = final_df.filter(sparkf.col('issue_d') < 2019)
testing_df = final_df.filter(sparkf.col('issue_d') >= 2019)

In [12]:
candidate_training_df.groupBy('loan_status').count().show()

23/12/05 14:58:23 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-----------+------+
|loan_status| count|
+-----------+------+
| Fully Paid|470712|
|Charged Off|131831|
+-----------+------+

In [13]:
# Spark ทำการสุ่มเลือกข้อมูลเฉพาะจาก training set เพื่อลดจำนวน Fully Paid

FullyPaid_training_df = candidate_training_df.filter(sparkf.col('loan_status') == 'Fully Paid').sample(0.30)

ChargedOff_training_df = candidate_training_df.filter(sparkf.col('loan_status') == 'Charged Off')

FullyPaid_training_num = FullyPaid_training_df.count()

ChargedOff_training_num = ChargedOff_training_df.count()

training_df = FullyPaid_training_df.union(ChargedOff_training_df)

In [14]:
# Spark ทำสรุปจำนวน row ของแต่ละ class ที่มีความ Balance Class มากขึ้น
training_df.groupBy('loan_status').count().show()

+-----------+------+
|loan_status| count|
+-----------+------+
| Fully Paid|140715|
|Charged Off|131831|
+-----------+------+

In [15]:
training_df.describe().toPandas().transpose()

,0,1,2,3,4
summary,count,mean,stddev,min,max
loan_amnt,272546,13880.799938359029,8439.54169977546,1000,39950
term,272546,41.490977669824545,10.081319417986444,36,60
int_rate,272546,13.632829479044378,4.699033389891922,5.31,27.99
installment,272546,427.42008226135124,259.45584519487187,30.12,1506.65
grade,272546,None,None,A,G
emp_length,272546,None,None,1 year,n/a
home_ownership,272546,None,None,ANY,RENT
annual_inc,272546,66990.3270880145,28985.156894226904,32.0,149999.0
verification_status,272546,None,None,Not Verified,Verified
loan_status,272546,None,None,Charged Off,Fully Paid
purpose,272546,None,None,car,wedding
addr_state,272546,None,None,AK,WY
dti,272546,19.491347112047112,13.693276461738455,-1,999
delinq_2yrs,272546,0.3362221423172602,0.9141945649215583,0.0,21.0
earliest_cr_line,272546,None,None,Apr-1960,Sep-2015
open_acc,272546,11.619664203473908,5.683092058809808,1,74
pub_rec,272546,0.2634894659984003,0.6890537726814524,0,61
revol_bal,272546,13982.580243335071,15400.536613758188,0,559399
revol_util,272546,48.23023269466439,24.248229533784475,0,119
total_acc,272546,23.787753260000148,11.958702284174885,2,176
issue_d,272546,2016.6219060268725,0.7294593379658397,2016,2018
acc_now_delinq,272546,0.005155093085203966,0.07622986964304074,0,4
calculatedDTI,272546,0.22922317804857678,1.2576283784084068,0.006711409395973154,636.71875
is_debtConsolidation,272546,0.577476829599407,0.4939617759811685,0,1

In [16]:
testing_df.describe().toPandas().transpose()

,0,1,2,3,4
summary,count,mean,stddev,min,max
loan_amnt,6716,13053.867629541393,8579.982755367357,1000,38975
term,6716,41.710541989279335,10.220482942364024,36,60
int_rate,6716,12.78878348380629,4.202868875110118,6.46,27.27
installment,6716,388.8376280524116,246.2480716289674,30.64,1336.43
grade,6716,None,None,A,E
emp_length,6716,None,None,1 year,n/a
home_ownership,6716,None,None,ANY,RENT
annual_inc,6716,70493.97817301966,30007.79471769585,250.0,149925.0
verification_status,6716,None,None,Not Verified,Verified
loan_status,6716,None,None,Charged Off,Fully Paid
purpose,6716,None,None,car,vacation
addr_state,6716,None,None,AK,WY
dti,6716,19.75030524121498,31.28660081329343,0,999
delinq_2yrs,6716,0.20741512805241216,0.712621112395756,0.0,14.0
earliest_cr_line,6716,None,None,Apr-1970,Sep-2015
open_acc,6716,11.516229898749256,5.923981461615417,1,63
pub_rec,6716,0.14085765336509828,0.35802649683692694,0,4
revol_bal,6716,12606.15202501489,14301.96753349796,0,236946
revol_util,6716,35.60125074449077,24.777587419804476,0,102
total_acc,6716,24.796754020250148,13.081527785732117,2,142
issue_d,6716,2019.0,0.0,2019,2019
acc_now_delinq,6716,0.0,0.0,0,0
calculatedDTI,6716,0.24064031104433659,1.372297253022421,0.006896551724137931,91.14285714285714
is_debtConsolidation,6716,0.5284395473496128,0.4992277053414849,0,1

#### Feature Transformation (Encoding)

In [17]:
numeric_candidateFeatures_list = ['int_rate','term','loan_amnt','annual_inc']
#numeric_candidateFeatures_list = ['int_rate','installment','loan_amnt','annual_inc','revol_util','delinq_2yrs','is_debtConsolidation','term']

#numeric_candidateFeatures_list = ['loan_amnt','int_rate','calculatedDTI']
numeric_candidateFeatures_list = ['int_rate','installment','pub_rec','loan_amnt','annual_inc']

In [18]:
cat_candidateFeatures_list = ['grade','home_ownership','verification_status','addr_state']
#cat_candidateFeatures_list = []

In [19]:
from pyspark.ml.feature import *
from pyspark.ml.pipeline import Pipeline
from pyspark.ml.classification import *

In [20]:
label_Indexer = StringIndexer(inputCol='loan_status',outputCol='label')

In [21]:
cat_Indexer = StringIndexer(inputCols=cat_candidateFeatures_list,outputCols=['grade_index','home_ownership_index'\
                                                                             ,'verification_status_index','addr_state_index'])
cat_OneHot  = OneHotEncoder(inputCols=['grade_index','home_ownership_index'\
                                                                             ,'verification_status_index','addr_state_index']\
                            ,outputCols=['grade_binarized','home_ownership_binarized'\
                                         ,'verification_status_binarized','addr_state_binarized'])

In [22]:
#feature_list = numeric_candidateFeatures_list+['grade_binarized','home_ownership_binarized','verification_status_binarized','addr_state_binarized','cat_delinq_2yrs_binarized']
feature_list = numeric_candidateFeatures_list

In [23]:
feature_list

['int_rate', 'term', 'loan_amnt', 'annual_inc']

In [24]:
feature_Assembler = VectorAssembler(inputCols=feature_list,outputCol='features')

In [25]:
def ExtractFeatureImp(featureImp, dataset, featuresCol):
    list_extract = []
    for i in dataset.schema[featuresCol].metadata["ml_attr"]["attrs"]:
        list_extract = list_extract + dataset.schema[featuresCol].metadata["ml_attr"]["attrs"][i]
    varlist = pd.DataFrame(list_extract)
    varlist['score'] = varlist['idx'].apply(lambda x: featureImp[x])
    return(varlist.sort_values('score', ascending = False))

#### Algorithm: Decision Tree Classifier

In [26]:
algo = DecisionTreeClassifier(featuresCol='features',labelCol='label')

In [27]:
pipeline_transformation = Pipeline().setStages([cat_Indexer,cat_OneHot,feature_Assembler,label_Indexer,algo])

In [28]:
model = pipeline_transformation.fit(training_df)

In [29]:
result_df = model.transform(testing_df)

In [30]:
result_df.select('loan_status','label','prediction').filter(sparkf.col('label') == 1)\
.groupBy('loan_status','label','prediction').count().show()

+-----------+-----+----------+-----+
|loan_status|label|prediction|count|
+-----------+-----+----------+-----+
|Charged Off|  1.0|       1.0|  328|
|Charged Off|  1.0|       0.0|  148|
+-----------+-----+----------+-----+

In [31]:
TP = result_df.select('loan_status','label','prediction')\
.filter((sparkf.col('label') == 1)&(sparkf.col('prediction') == 1))\
.groupBy('loan_status','label','prediction').count().take(1)[0]['count']

In [32]:
ALL_POSITIVE = result_df.select('loan_status','label','prediction').filter((sparkf.col('label') == 1)).count()

In [33]:
ALL_NEGATIVE = result_df.select('loan_status','label','prediction').filter((sparkf.col('label') == 0)).count()

In [34]:
ALL_POSITIVE+ALL_NEGATIVE

6716

In [35]:
result_df.count()

6716

In [36]:
SENSITIVITY = TP/ALL_POSITIVE

In [37]:
SENSITIVITY

0.6890756302521008

In [38]:
TN = result_df.select('loan_status','label','prediction')\
.filter((sparkf.col('label') == 0)&(sparkf.col('prediction') == 0))\
.groupBy('loan_status','label','prediction').count().take(1)[0]['count']

In [39]:
SPECIFICITY = TN/ALL_NEGATIVE

In [40]:
SPECIFICITY

0.5501602564102565

In [41]:
import pandas as pd

In [42]:
featureImportances = model.stages[4].featureImportances.toArray()

In [43]:
ExtractFeatureImp(featureImportances, result_df, "features").head(30)

   idx        name     score
0    0    int_rate  0.981430
1    1        term  0.012885
2    2   loan_amnt  0.005685
3    3  annual_inc  0.000000

In [44]:
### บรรทัดด้านล่างนี้เป็นโค้ดที่ ChatGPT แนะนำ: https://chat.openai.com/share/192264a6-6d84-4fad-b653-cec155d4addd

In [45]:
from pyspark.ml.tuning import ParamGridBuilder, CrossValidator
from pyspark.ml.evaluation import BinaryClassificationEvaluator

# เพิ่มการปรับแต่งพารามิเตอร์ใน Decision Tree Classifier
paramGrid = ParamGridBuilder()\
    .addGrid(algo.maxDepth, [5, 10, 15])\
    .addGrid(algo.maxBins, [32, 40, 48])\
    .build()

# ใช้ CrossValidator สำหรับการทดสอบพารามิเตอร์ต่างๆ
cv = CrossValidator(estimator=pipeline_transformation,
                    estimatorParamMaps=paramGrid,
                    evaluator=BinaryClassificationEvaluator(),
                    numFolds=5)

# ฝึกฝนโมเดล
cvModel = cv.fit(training_df)

# ทดสอบโมเดล
predictions = cvModel.transform(testing_df)

# ประเมินโมเดล
evaluator = BinaryClassificationEvaluator(labelCol='label', rawPredictionCol='prediction', metricName='areaUnderPR')
recall = evaluator.evaluate(predictions, {evaluator.metricName: "areaUnderPR"})
print("Recall/Sensitivity: ", recall)

23/12/05 15:05:39 WARN DAGScheduler: Broadcasting large task binary with size 1100.1 KiB
23/12/05 15:05:41 WARN DAGScheduler: Broadcasting large task binary with size 1596.6 KiB
23/12/05 15:05:50 WARN DAGScheduler: Broadcasting large task binary with size 1061.2 KiB
23/12/05 15:05:51 WARN DAGScheduler: Broadcasting large task binary with size 1542.0 KiB
23/12/05 15:06:00 WARN DAGScheduler: Broadcasting large task binary with size 1046.4 KiB
23/12/05 15:06:01 WARN DAGScheduler: Broadcasting large task binary with size 1534.3 KiB
23/12/05 15:07:15 WARN DAGScheduler: Broadcasting large task binary with size 1142.5 KiB
23/12/05 15:07:17 WARN DAGScheduler: Broadcasting large task binary with size 1645.2 KiB
23/12/05 15:07:25 WARN DAGScheduler: Broadcasting large task binary with size 1143.5 KiB
23/12/05 15:07:26 WARN DAGScheduler: Broadcasting large task binary with size 1662.2 KiB
23/12/05 15:07:34 WARN DAGScheduler: Broadcasting large task binary with size 1050.1 KiB
23/12/05 15:07:35 WARN DAGScheduler: Broadcasting large task binary with size 1556.6 KiB
23/12/05 15:08:44 WARN DAGScheduler: Broadcasting large task binary with size 1143.2 KiB
23/12/05 15:08:45 WARN DAGScheduler: Broadcasting large task binary with size 1675.3 KiB
23/12/05 15:08:53 WARN DAGScheduler: Broadcasting large task binary with size 1093.1 KiB
23/12/05 15:08:54 WARN DAGScheduler: Broadcasting large task binary with size 1604.3 KiB
23/12/05 15:09:02 WARN DAGScheduler: Broadcasting large task binary with size 1017.3 KiB
23/12/05 15:09:03 WARN DAGScheduler: Broadcasting large task binary with size 1502.1 KiB
23/12/05 15:10:09 WARN DAGScheduler: Broadcasting large task binary with size 1107.7 KiB
23/12/05 15:10:10 WARN DAGScheduler: Broadcasting large task binary with size 1613.0 KiB
23/12/05 15:10:18 WARN DAGScheduler: Broadcasting large task binary with size 1072.5 KiB
23/12/05 15:10:19 WARN DAGScheduler: Broadcasting large task binary with size 1581.5 KiB
23/12/05 15:10:27 WARN DAGScheduler: Broadcasting large task binary with size 1027.7 KiB
23/12/05 15:10:28 WARN DAGScheduler: Broadcasting large task binary with size 1515.1 KiB
23/12/05 15:11:34 WARN DAGScheduler: Broadcasting large task binary with size 1105.0 KiB
23/12/05 15:11:35 WARN DAGScheduler: Broadcasting large task binary with size 1601.0 KiB
23/12/05 15:11:43 WARN DAGScheduler: Broadcasting large task binary with size 1068.6 KiB
23/12/05 15:11:44 WARN DAGScheduler: Broadcasting large task binary with size 1557.7 KiB
23/12/05 15:11:52 WARN DAGScheduler: Broadcasting large task binary with size 1024.4 KiB
23/12/05 15:11:53 WARN DAGScheduler: Broadcasting large task binary with size 1528.1 KiB

Recall/Sensitivity:  0.09817370240849571

In [46]:
predictions.select('loan_status','label','prediction').filter(sparkf.col('label') == 1)\
.groupBy('loan_status','label','prediction').count().show()

+-----------+-----+----------+-----+
|loan_status|label|prediction|count|
+-----------+-----+----------+-----+
|Charged Off|  1.0|       1.0|  334|
|Charged Off|  1.0|       0.0|  142|
+-----------+-----+----------+-----+

In [47]:
TP = predictions.select('loan_status','label','prediction')\
.filter((sparkf.col('label') == 1)&(sparkf.col('prediction') == 1))\
.groupBy('loan_status','label','prediction').count().take(1)[0]['count']

In [49]:
ALL_POSITIVE = predictions.select('loan_status','label','prediction').filter((sparkf.col('label') == 1)).count()

In [50]:
ALL_POSITIVE

476

In [51]:
TP

334

In [52]:
SENSITIVITY = TP/ALL_POSITIVE

In [53]:
SENSITIVITY

0.7016806722689075